<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>Poll Position</title>

     <!-- Included CSS Files (Compressed) -->
    <!-- <link rel="stylesheet" href="stylesheets/bootstrap-3.3.4-dist/css/bootstrap.min.css"> -->
   
    <!-- Custom styles for this template -->
    <!-- <link href="stylesheets/bootstrap-3.3.4-dist/css/jumbotron-narrow.css" rel="stylesheet"> -->


  </head>
  
  <body>
  
    <div class="container">
      <div class="header clearfix">
       <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/vote">Voting</a></li>
            <li role="presentation"><a href="/about">About</a></li>
          </ul>
        </nav>
      </div>
      <div class="modal fade" id="login_modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">What's yo' name?</h4>
            </div>
            <div class="modal-body">
              <form>
                <input type="text" id="name" name="name">
                <button type="button" id="name_submit" class="btn btn-primary">Send it! >>></button>
              </form>
            </div>
            <div class="modal-footer">
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <div class="jumbotron">
        <h1>Poll Position</h1>
        <p class="lead">Hello folks!.... its that time of the year, when we are given the opportunity to scream about our wild and magnificient web app ideas.so what are we waiting for...go ahead and fetch all the thrilling ideas that are in the far corner of your brains and type them below</p>
      </div>
      <% if @idea && @idea.errors.any? %>
        <div>
          <strong>BAD Idea!!:</strong>
            <ul>
              <% @idea.errors.full_messages.each do |idea| %>
                <li><%= idea %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
      <div class="col-md-12"> 
        <form>
          <div class="form-group">
            <label for="project-ideas">Project Ideas!!!</label>
            <input id="title" type="text" name="title" class="form-control" placeholder="Title">
          </div>
          <div class="form-group">
            <label for="decribe-idea">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Tell us more"></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block" id="idea_submit">Enlighten Us</button>
        </form>
      </div>
    </div>
    <div class="container" style="margin-top: 30px;">
     <div id="idea-list">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        </div>
      </div>
    </div>
    
    <script type="text/javascript">
      $(document).ready(function() {
        var author;
        // $('#login_modal').modal({
        //  backdrop: 'static',
        //  keyboard: false
        // });//modal

        $('#login_modal').modal('show');

        $('#name_submit').click(function(e) {
          e.preventDefault();
          author = $('#name').val();
          console.log('name:', author);
          //ajax submission. Creates new Student
          $.ajax({
            url: '/students',
            method: 'POST',
            data: {
              author: author,
            }
          }).done(function(returnData)
        {
          console.log('data from server', returnData);
        });//ajax

          $('#login_modal').modal('hide');
        });
        //name_submit click

        // ajax submission. Creates new Idea
        $('#idea_submit').click(function(e) {
          e.preventDefault();
          var title = $('#title').val();
          var desc = $('#description').val();
          console.log('title:', title);
          console.log('desc:', desc);
          console.log('name:', author);

          $.ajax({
            url: '/ideas',
            method: 'POST',
            data: {
              author: author,
              title: title,
              description: desc
            }
          })//ajax
          .done(function(returnData) 
          {
            console.log('data from server', returnData);
            $('#accordion').append(
              '<div class="panel panel-default"> \
               <div class="panel-heading" role="tab" id="headingOne"> \
                  <h4 class="panel-title"> \
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">' + returnData.title + 
                    '</a> \
                  </h4> \
                </div> \
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne"> \
                <div class="panel-body"> \
                ' + returnData.description + 
                '</div> \
              </div> \
            </div>'
            );//append
          });//done
        });//#idea_submit
        // $(window).bind('beforeunload', function() {
        //   return "WHOA! That's all you got? If you leave now, your idea's will be saved, but you won't be able to see them again until voting time....";
        // });
      });
    </script>
  </body>
</html>
