<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Poll Position</title>
    <!-- Custom CSS -->
    <link href="/stylesheets/voting.css" rel="stylesheet">
</head>

<body>
    <div class="container">
      <!-- nav --> 
       <div class="header clearfix">
       <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">End Session</a></li>
          </ul>
        </nav>
      </div>
      <!-- nav end --> 
    <h1>
        Groups and Projects Final Page
    </h1>
    <div class="container">
      <!-- nav --> 
       <div class="panel panel-default">
       
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
         <p> Lorizzle phat hizzle sit amizzle, i'm in the shizzle adipiscing yippiyo. Dope sheezy velit, aliquet volutpizzle, suscipizzle tellivizzle, yo mamma dizzle, arcu. Phat egizzle i'm in the shizzle. Sed crackalackin. Fusce izzle dolor shut the shizzle up turpis tempizzle . Maurizzle pellentesque away izzle ma nizzle. Go to hizzle bow wow wow da bomb. Pellentesque sure crazy fo shizzle mah nizzle fo rizzle, mah home g-dizzle. In hizzle habitasse platea hizzle. I saw beyonces tizzles and my pizzle went crizzle dapibizzle. Curabitur tellus urna, pretium bizzle, uhuh ... yih! i'm in the shizzle, eleifend vitae, nunc. Fo shizzle suscipizzle. Integer semper velit sizzle shiznit.
        </p>
        </div>

  <!-- List group -->
        <ul class="list-group">
         <li class="list-group-item">Lachlan</li>
         <li class="list-group-item">Nico</li>
          <li class="list-group-item">Priya</li>
         <li class="list-group-item">Captain Picard</li>
         <li class="list-group-item">Professor X</li>
       </ul>
      </div>
    </div>

    <div class="container">
      <!-- nav --> 
       <div class="panel panel-default">
       
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
         <p> Lorizzle phat hizzle sit amizzle, i'm in the shizzle adipiscing yippiyo. Dope sheezy velit, aliquet volutpizzle, suscipizzle tellivizzle, yo mamma dizzle, arcu. Phat egizzle i'm in the shizzle. Sed crackalackin. Fusce izzle dolor shut the shizzle up turpis tempizzle . Maurizzle pellentesque away izzle ma nizzle. Go to hizzle bow wow wow da bomb. Pellentesque sure crazy fo shizzle mah nizzle fo rizzle, mah home g-dizzle. In hizzle habitasse platea hizzle. I saw beyonces tizzles and my pizzle went crizzle dapibizzle. Curabitur tellus urna, pretium bizzle, uhuh ... yih! i'm in the shizzle, eleifend vitae, nunc. Fo shizzle suscipizzle. Integer semper velit sizzle shiznit.

        Etizzle its fo rizzle magna sed augue fizzle accumsizzle. in we gonna chung. Vivamizzle uhuh ... yih! daahng dawg, ghetto vitae, facilisizzle izzle, fo shizzle stuff, erizzle. Vestibulizzle check it out tellivizzle shit izzle faucibus that's the shizzle sizzle izzle shizzlin dizzle posuere cubilia Curae; Pizzle dolizzle. Funky fresh check it out. Maecenas doggy blandizzle quizzle. Fo shizzle my nizzle rutrizzle mah nizzle orci. Fo shizzle facilisizzle. Get down get down sizzle nulla, venenatis eu, scelerisque boom shackalack, blandizzle stuff, magna.
        </p>
        </div>

  <!-- List group -->
        <ul class="list-group">
         <li class="list-group-item">Lachlan</li>
         <li class="list-group-item">Nico</li>
          <li class="list-group-item">Priya</li>
         <li class="list-group-item">Captain Picard</li>
         <li class="list-group-item">Professor X</li>
       </ul>
      </div>
    </div>

    <div class="container">
      <!-- nav --> 
       <div class="panel panel-default">
       
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
         <p> Lorizzle phat hizzle sit amizzle, i'm in the shizzle adipiscing yippiyo. Dope sheezy velit, aliquet volutpizzle, suscipizzle tellivizzle, yo mamma dizzle, arcu. Phat egizzle i'm in the shizzle. Sed crackalackin. Fusce izzle dolor shut the shizzle up turpis tempizzle . Maurizzle pellentesque away izzle ma nizzle. Go to hizzle bow wow wow da bomb. Pellentesque sure crazy fo shizzle mah nizzle fo rizzle, mah home g-dizzle. In hizzle habitasse platea hizzle. I saw beyonces tizzles and my pizzle went crizzle dapibizzle. Curabitur tellus urna, pretium bizzle, uhuh ... yih! i'm in the shizzle, eleifend vitae, nunc. Fo shizzle suscipizzle. Integer semper velit sizzle shiznit.

        Etizzle its fo rizzle magna sed augue fizzle accumsizzle. in we gonna chung. Vivamizzle uhuh ... yih! daahng dawg, ghetto vitae, facilisizzle izzle, fo shizzle stuff, erizzle. Vestibulizzle check it out tellivizzle shit izzle faucibus that's the shizzle sizzle izzle shizzlin dizzle posuere cubilia Curae; Pizzle dolizzle. Funky fresh check it out. Maecenas doggy blandizzle quizzle. Fo shizzle my nizzle rutrizzle mah nizzle orci. Fo shizzle facilisizzle. Get down get down sizzle nulla, venenatis eu, scelerisque boom shackalack, blandizzle stuff, magna.
        </p>
        </div>

  <!-- List group -->
        <ul class="list-group">
         <li class="list-group-item">Lachlan</li>
         <li class="list-group-item">Nico</li>
          <li class="list-group-item">Priya</li>
         <li class="list-group-item">Captain Picard</li>
         <li class="list-group-item">Professor X</li>
       </ul>
      </div>
    </div>

    <div class="container">
      <!-- nav --> 
       <div class="panel panel-default">
       
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
         <p> Lorizzle phat hizzle sit amizzle, i'm in the shizzle adipiscing yippiyo. Dope sheezy velit, aliquet volutpizzle, suscipizzle tellivizzle, yo mamma dizzle, arcu. Phat egizzle i'm in the shizzle. Sed crackalackin. Fusce izzle dolor shut the shizzle up turpis tempizzle . Maurizzle pellentesque away izzle ma nizzle. Go to hizzle bow wow wow da bomb. Pellentesque sure crazy fo shizzle mah nizzle fo rizzle, mah home g-dizzle. In hizzle habitasse platea hizzle. I saw beyonces tizzles and my pizzle went crizzle dapibizzle. Curabitur tellus urna, pretium bizzle, uhuh ... yih! i'm in the shizzle, eleifend vitae, nunc. Fo shizzle suscipizzle. Integer semper velit sizzle shiznit.

        </p>
        </div>

  <!-- List group -->
        <ul class="list-group">
         <li class="list-group-item">Lachlan</li>
         <li class="list-group-item">Nico</li>
          <li class="list-group-item">Priya</li>
         <li class="list-group-item">Captain Picard</li>
         <li class="list-group-item">Professor X</li>
       </ul>
      </div>
    </div>
    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
