<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Poll Position Groups</title>
    <!-- Custom CSS -->
    <link href="/stylesheets/voting.css" rel="stylesheet">
</head>

<body>
    <div class="container">
    

      <!-- nav --> 
       <div class="header clearfix">
       <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#">Home</a></li>
            <li role="presentation"><a href="/about">About</a></li>
            <li role="presentation"><a href="#">View Final Groups</a></li>
          </ul>
        </nav>
      </div>
      <!-- nav end --> 
    <div class="row">
    <h1>
        Determine Winners 
    </h1>
        <!-- collapsible groop --> 
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">

        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Project Name
        </a>

      <span class="badge">14</span>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
         Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
         Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
      </div>
    </div>
  </div>
  <h1>Assign Projects</h1>
    <ul class="list-group">
      <li class="list-group-item">Lachlan Mackenzie<!--added button -->
        <div class="btn-group drop">
          <input class="form-control input-s form" type="integer" placeholder="#">
        </div> <!-- ended button --> 
      </li>

    </div> <!--end .row --> 

    </ul>
     <button type="button" class="btn danger btn-success btn-lg">Submit</button>
    </div>
    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>