<!DOCTYPE html>
<html>

<head>

  <title>Edit Idea</title>
</head>

<body>
<form action="/update_idea/<%= @idea.id %>" method="POST">
  <input type="text" name="title" placeholder="<%= @idea.title%>">
  <textarea rows="3" name="description" placeholder="<%= @idea.description%>"></textarea>  
  <button type="submit">Submit</button>
</form>
</body>
</html>